body {
     background-image: url("./images/logo.png");
     background-size: cover;
     z-index:-1;
}
h1 {
    text-align: center;
    font-size: 75px;
    color: blue;
}

p {
    text-align: center;
    font-size: 10PX;
}
